<h1>A list of tasks</h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Status</th>
      <th>Author</th>
      <th>Modify</th>
      <th>Destroy</th>
      
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>#</td>
        <td><%= task.description %></td>
        <td>
        <% if task.finished == true %>
        Finished
        <%else%>
        Not Finished
        <%end%>
        </td>
        <td>
          <%= image_tag task.author.photo.url(:thumb), :style=>"float:left;" if task.author.photo.exists? %>
          <%#= task.author.name%>
        </td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task_path(task), confirm: 'Are you sure?', method: :delete %> </td>
      </tr>
    <% end %>
     <tr colspan="6">
      <td>
       <%= link_to 'New', new_task_path %>
         
      </td>
    </tr><tr colspan="6">
      <td>
       <%#= link_to 'New', new_task_path %>
       <%= link_to 'Comments Page', comments_path %>
      </td>
    </tr>
    
    </tbody>
  </table>

  

